<div class="">
  <nav class="nav">
    <div class="row d-flex justify-content-evenly align-items-center">
      <div class="col-sm-2 text-center">
        <a class="p-2 navlink" href="home">Home</a>
      </div>
      <div class="col-sm-2 text-center">
        <a class="p-2 navlink" href="products">Articles</a>
      </div>
      <div class="col-sm-2 ps-3 pe-3 pb-2 text-center">
        <img class="img-fluid brand" src="/src/assets/img/brand.png" class="blog-header-logo" href="#">
      </div>
      <div class="col-sm-2 text-center">
        <a class="p-2 navlink" href="contact">Contact</a>
      </div>
      <div class="col-sm-2 text-center">
       <a class="p-2 navlink" href="faq">FAQ</a>
      </div>
      <!-- <div class="col-sm-2">
       <a class="p-2 navlink" href="#">S'inscrire</a>
      </div> -->
   </nav>
 </div>