<form method="post" action ="" enctype="multipart/form-data">
	<div class="text-center p-3">
		<h5 class="main-title-2">Contactez-nous</h5>
	</div>
	<div class="modal-body mt-3 ms-3 me-3 mb-1">
		<div class="row mb-3">
			<div class="col-md-12">
				<label for="" class="form-label-sm">Nom</label>
				<input class="form-control" type="text" name="name">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-12">
				<label for="" class="form-label-sm">Mail</label>
				<input class="form-control" type="mail" name="mail">
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-md-12">
				<label for="" class="form-label-sm">Commentaire</label>
				<textarea class="form-control" type="textarea" name="comment" rows="2" cols="33"></textarea>
			</div>
		</div>
	</div>
	<div class="text-center p-3">
		<button type="submit" class="custom-btn btn-primary">Envoyer</button>
	</div>
	<!-- <input type="hidden" name="tokenCsrf" value="EGESJGSE0GJ"></input>	 -->
</form>	
